@use '../../../styles/colors' as *;
@import '../../../styles/mixins';

.modal{
    left:unset;
    bottom:unset;
    border-radius:20px;
    width:90%;
    max-height:calc(100vh - 50px);
    overflow-y:scroll;
    overflow-x:hidden;
    display:block;
    &__footer{
        :global(.primarybutton){
            min-width:143px;
        }
    }
}