@use "../../../styles/colors" as *;
@import "../../../styles/mixins";

.percentage {
  @include border-radius(6px);
  background-color: $color-fff4e5;
  @include display(flex);
  align-items:center;
  p {
    color: $color-414e59;
    line-height: 24px; 
  }
}
.infopercentage {
  width: 16px;
  height: 16px;
  background-image: url(//akam.cdn.jdmagicbox.com/images/icontent/listingbusiness/infoyellow.svg);
  flex: none;
}
.labeltext {
  @include display(flex);
  flex-direction: column;
}
.no-border-bottom {
  border-bottom:none;
}
.disc{
  width:12px;
  height:12px;
  @include border-radius(50%);
  background-color:$color-111111;
}
.category__modal{
  .modal__body{
    max-height:450px;
    overflow-y:scroll;
    label:last-child{
      border-bottom:0;
    }
  }
  :global(.customscroll::-webkit-scrollbar-track){
    width:auto;
    background:#ffffff;
  }
}
