@use '../../styles/colors' as *;
@import '../../styles/mixins';

.otp{
  padding:20px;
  // padding:30px 40px;
  @include border-radius(12px);
  @include for-mobile{
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    padding-top: 15px;
  }
  .modal{
    &__header{
      position:relative;
      justify-content:flex-start;
      margin-bottom:40px;
      @include for-mobile{
        justify-content: center;
        margin-bottom: 0;
      }
      img{
        @include for-mobile{
          display: none;
        }
      }
      &__right{
        border-left:1px solid $color-f2f5f8;
        padding-left:20px;
        margin-left:10px;
        @include for-mobile{
          padding: 0;
          margin: 0;
          border: 0;
        }
        b{
          font-size:24px;
          @include for-mobile{
            font-size: 18px;
            font-weight: 500;
          }
        }
        p{
          font-size:17px;
          @include for-mobile{
            display: none;
          }
        }
      }
    }
    &__body{
      margin-bottom:35px;
      p{
        font-size:20px;
        @include for-mobile{
          font-size:16px;
        }
        @include for-mobile-320{
          font-size:14px;
        }
        &.retry{
          justify-content:space-between;
          font-size:18px;
          margin-top:30px;
          @include for-mobile{
            margin-top:10px;
            font-size: 16px;
          }
        }
      }
    }
    &__footer{
      button{
        max-width:300px;
        width:100%;
        min-width:auto;
        flex:1 1 auto;
        @include for-mobile{
          max-width:-webkit-fill-available;
        }
        &:disabled{
          background-color:$color-b1d5f2;
        }
      }
    }
  }
  :global(.closeicon){
    @include position(absolute, $top:-10px, $right:-10px);
    height:25px;
    width:25px;
    @include for-mobile{
      right: inherit;
      left: 0;
      top:2px;
    }
  }
  :global(.transparentButton:hover){
    color:$color-777777;
  }
}
.editicon{
  width:14px;
  height:14px;
  // background-image:url();
}
.resendopt{
  background-color:transparent;
  font-size:18px;
  margin-left:15px;
  color:$color-0076d7;
  padding:0;
  &:disabled{
    color:$color-777777;
  }
  @include for-mobile{
    font-size:16px;
  }
  @include for-mobile-320{
    font-size:12px;
  }
}
.inputwrap{
  display:flex;
  justify-content:space-between;
  margin-top:30px;
  @include for-mobile{
    margin-top:10px;
  }
  input{
    @include border-radius(8px);
    border:1px solid $color-eeeeee;
    width:60px;
    height:70px;
    text-align:center;
    font-size:24px;
    font-weight:500;
    @include for-mobile{
      width:50px;
      height:60px;
    }
    @include for-mobile-320{
      width:40px;
      height:50px;
    }
    &:focus{
      border-color:$color-0076d7;
    }
  }
  &__error{
    input{
      border-color:$color-eb504b;
    }
    ~ .error__text{
      display:block;
      margin-top:7px;
    }
  }
}
.error__text{
  color:$color-eb504b;
  display:none;
  font-size:14px;
}

.loadborder__wrap{
  @include for-mobile{
    display: block;
    width: calc(100% + 40px);
    height: 4px;
    font-size: 0;
    margin:15px 0 15px;
    position: relative;
    left: -20px;
  }
  .loadborder{
    @include for-mobile{
      display: inline-block;
      width: 100%;
      height: 4px;
      animation-duration: 1s;
      animation-fill-mode: forwards;
      animation-iteration-count: infinite;
      animation-name: placeHolderShimmer;
      animation-timing-function: linear;
      background: linear-gradient(to right, #dadce0 20%, #0076d7 40%, #0076d7 60%, #dadce0 100%, #dadce0 120%);
      background-size: 800px 104px;
    }
    @keyframes placeHolderShimmer {
      0%{
        background-position: -468px 0;
      }
      100%{
        background-position: 468px 0;
      }
    }
  }
}
.login{
  .modal__body{
    align-items:center;
  }
  &__inner{
    display:flex;
    align-items:center;
    height:50px;
    width:100%;
    border-bottom:1px solid $color-f0f3f5;
    > span, > input{
      height:100%;
      @extend .font18;
    }
    > span{
      @extend .mr-15;
      width:50px;
      position:relative;
      align-items:center;
      display:flex;
      &:after{
        width:2px;
        height:30px;
        @include position(absolute, $right:0, $top:10px);
        content:"";
        background:$color-f0f3f5;
      }
    }
    input{
      border:0;
      flex:1;
      @include border-radius(0);
    }
  }
  .primarybutton{
    margin-top:40px;
    max-width:300px;
    @extend .font18;
    &:disabled{
      background-color:$color-777777;
      cursor:not-allowed;
      border:1px solid $color-777777;
    }
  }
}
.or{
  margin-top:35px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-flow: row nowrap;
  -moz-box-orient: horizontal;
  -moz-box-direction: normal;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
  width: 100%;
  position: relative;
  &:after{
    content: "";
    height: 1px;
    width: 100%;
    background-color:$color-f2f2f2;
    @include position(absolute, $left:0, $top:50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    z-index: 1;
  }
  &__inner{
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -moz-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-flow: row nowrap;
    -moz-box-orient: horizontal;
    -moz-box-direction: normal;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    padding: 4px 12px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
    background-color: #f4f4f4;
    position: relative;
    z-index: 2;
    letter-spacing: .18px;
    color: #bbb;
    @extend .font12;
  }
}
.sociallogin{
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 100%;
  margin-top:50px;
}
.login_go, .login_fb{
  height: 45px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border: solid 1px#ebebeb;
  background-color: #fff;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 16px;
  font-weight: 400;
  color: #666;
  width: 155px;
  line-height: 45px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  cursor: pointer;
  -webkit-border-radius: 22px;
  -moz-border-radius: 22px;
  border-radius: 22px;
  position: relative;
}
.googleicon{
  background-image:url(//akam.cdn.jdmagicbox.com/images/icontent/newwap/jdservice/mjw_googleicn.svg);
  width:20px;
  height:20px;
}
.fbicon{
  background-image:url(//akam.cdn.jdmagicbox.com/images/icontent/newwap/web2022/fbicn.svg);
  width:20px;
  height:20px;
}
