//--color variables--//
$color-000000:#000000;
$color-ffffff:#ffffff;
$color-111111:#111111;
$color-999999:#999999;
$color-0076d7:#0076d7;
$color-dadce0:#dadce0;
$color-788798:#788798;
$color-d3f0fe:#d3f0fe;
$color-eb504b:#eb504b;
$color-777777:#777777;
$color-f8f8f8:#f8f8f8;
$color-1a1b1d:#1a1b1d;
$color-414E5A:#414E5A;
$color-19c75e:#19c75e;
$color-f6f6f6:#f6f6f6;
$color-e8f0fd:#e8f0fd;
$color-0073d2:#0073d2;
$color-718190:#718190;
$color-f0f8ff:#f0f8ff;
$color-34c85a:#34c85a;
$color-e5f3ff:#e5f3ff;
$color-eeeeee:#eeeeee;
$color-fff4e5:#fff4e5;
$color-414e59:#414e59;
$color-e4e4e4:#e4e4e4;
$color-d43145:#D43145;

$color-d15459:#d15459;
$color-ea9634:#ea9634;
$color-edc337:#edc337;
$color-4997d0:#4997d0;
$color-d06d49:#d06d49;
$color-aa8356:#aa8356;
$color-77b5b5:#77b5b5;
$color-69b480:#69b480;
$color-b796e5:#b796e5;
$color-e596d3:#e596d3;

$color-3b3b3b:#3b3b3b;
$color-fffcf4:#fffcf4;
$color-fff3f7:#fff3f7;
$color-def7ff:#def7ff;
$color-eff1fb:#eff1fb;
$color-848484:#848484;
$color-fffcfa:#fffcfa;
$color-333333:#333333;
$color-f2f2f2:#f2f2f2;
$color-cad8e1:#cad8e1;
$color-f2f5f8:#f2f5f8;
$color-b1d5f2:#b1d5f2;

$color-7b7b7b:#7b7b7b;

$color-e52b8d:#e52b8d;
$color-dda506:#dda506;
$color-fffbf2:#fffbf2;

$color-fdfdfd:#fdfdfd;
$color-f5fafa:#f5fafa;
$color-0075e4:#0075e4;
$color-f59718:#f59718;
$color-f5f5f5:#f5f5f5;

$color-767676:#767676;
$color-15a677:#15a677;
$color-4e49e9:#4e49e9;
$color-e5f2ff:#e5f2ff;
$color-f46a0d:#f46a0d;
$color-ffc400:#ffc400;
$color-f7f7f7:#f7f7f7;
$color-7875ee:#7875ee;
$color-5a5a5a:#5a5a5a;
$color-694242:#694242;
$color-555555:#555555;
$color-f9fcff:#f9fcff;
$color-ebebeb:#ebebeb;
$color-f6fbff:#f6fbff;
$color-eaf7ff:#eaf7ff;

$color-dedede:#dedede;

$color-001141:#001141;
$color-403228:#403228;
$color-392a01:#392a01;
$color-e6f4ff:#e6f4ff;
$color-c7e7ff:#c7e7ff;
$color-ffd6b9:#ffd6b9;
$color-e0cc98:#e0cc98;
$color-fdf2d6:#fdf2d6;
$color-f7c7a3:#f7c7a3;

$color-cfcfcf:#cfcfcf;

$color-e9e9e9:#e9e9e9;

$color-717171:#717171;
$color-058a07:#058a07;
$color-e52626:#e52626;

$color-f0f3f5:#f0f3f5;

$color-757575:#757575;
$color-bee2ff:#bee2ff;
$color-82c1f4:#82c1f4;
$color-fce7b2:#fce7b2;
$color-fadd94:#fadd94;
$color-ffc195:#ffc195;
$color-fdaa70:#fdaa70;

$color-797979:#797979;
$color-068a07:#068a07;

$color-eff8ff:#eff8ff;
$color-f3f3f3:#f3f3f3;
$color-ff6c02:#ff6c02;
$color-798798:#798798;

$color-f0f0f0:#f0f0f0;
$color-9f9f9f:#9f9f9f;

$color-e7e7e7:#e7e7e7;
$color-d9d9d9:#d9d9d9;
$color-eefff2:#eefff2;
$color-424e59:#424e59;
$color-dbdce0:#dbdce0;
$color-eff4ff:#eff4ff;
$color-e9ecef:#e9ecef;
$color-ffbd64:#ffbd64;
